@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
  font-family: f1;
  src: url(./assets/BMW1.woff2);
}

@font-face{
  font-family: f2;
  src: url(./assets/BMW2.woff2);
}

* {
  margin: 0;
  padding-inline: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
html,body{
  height: 100%;
  width: 100%;
}
.main{
  height: min-content;
  top: 100;
}
.content{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}

